<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service
        behaviorConfiguration="REx.Server.RemoteExecutorServiceBehavior"
        name="REx.ServiceLibrary.RemoteExecutorService">
        <endpoint
          address=""
          binding="netTcpBinding"
          bindingConfiguration=""
          contract="REx.Common.ServiceContracts.IRemoteExecutor">
          <identity>
            <dns value="localhost" />
            <servicePrincipalName value="RExTheMighty"/>
          </identity>
        </endpoint>
        <endpoint
          address="mex"
          binding="mexTcpBinding"
          bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/RExServer" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="REx.Server.RemoteExecutorServiceBehavior">
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>